.Footer{
    color: white;
    
a,p {
color: inherit;
text-decoration: none;
transition: all 0.3s;
color: white !important;

}
h5{
color: var(--primary) !important;
}

a:hover, a:focus {
text-decoration: none;
color: white;

}

.form-control {
background: #212529;
border-color: #545454;

}

.form-control:focus {
background: #212529;
}

footer {
background: #212529;
}


}
.Footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../../../public/Layout/Footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding:40px 10vw;
        >div{
            display: flex;
            gap: 20px;
            justify-content: space-between;
            // flex-wrap: wrap;
            >div{
                display: flex;
                flex-direction: column;
                width: 50%;
                &:nth-child(1){
                    margin-right: 30px;
                }
                h1{
                    font-size: 2vw;
                }
              
            }
            .ContactFooter{
                width: 30%;
                >span{
                    display: flex; gap: 8px;

                }
            }
        }
        >span{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                margin-inline: 5px;
            }
        }
        .ant-divider-horizontal{
            background: var(--white);
        }
}

@media screen and (max-width: 900px) {
    .Footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url('../../../public/Layout/Footer.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding:40px 20px;
            >div{
                display: flex;
                gap: 20px;
                // flex-wrap: wrap;
                font-size: 15px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 3vw;
                >div{
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    text-align: center;
                    &:nth-child(1){
                        margin-right: 30px;
                    }
                    h1{
                        font-size: 8vw;
                        margin-bottom: 20px;
                    }
                  
                }
                .ContactFooter{
                    >span{
                        display: flex; gap: 8px;
                        justify-content: center;
    
                    }
                }
            }
            >span{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                span{
                    margin-inline: 5px;
                    
                }
            }
            .ant-divider-horizontal{
                background: var(--white);
            }
    }
}